.olho-maconaria {
    width:32px;
    max-height: 25px;
    border:none;
    transform: translate(-25px, 5px);
    color:#222;
}

.input-senha, .input-login, .input-site {
    padding: 3px;
}
/*******************************************************/
/*******************************************************/
#container-main-lista {
    max-height: 300%;
    max-width: 380px;
    margin: auto;
    padding: auto;
    border-style: hidden;
}
  
  //border-collapse: collapse;