<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   <!---- <div>
      <ion-img src="/assets/icon/lock.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
    </div>-->
    <div>
      <ion-item fill="solid">
        <ion-label position="floating">Site</ion-label>
        <ion-input type="text" class="input-as" placeholder="//https/www.site.com.br" [(ngModel)]="site"></ion-input>
      </ion-item>
    </div>
    <div>
      <ion-item fill="solid">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" class="input-as" placeholder="nome@email.com" [(ngModel)]="login"></ion-input>
        <ion-note slot="error">Invalid email</ion-note>
      </ion-item>
    </div>
    <div>
      <ion-item fill="solid">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" class="input-as" placeholder="**********" [(ngModel)]="senha" ></ion-input>
        <ion-note slot="error">Senha invalida</ion-note>
      </ion-item>
    </div>
    <div>
      <ion-button class="button-enter" expand="block" (click)="armazenar()">Armazenar</ion-button>
      <ion-button class="button-enter" expand="block" color="dark" (click)="del()">Deletar</ion-button>
      <ion-button class="button-enter" expand="block" color="danger" (click)="limpar()">Limpar</ion-button>
    </div>
  </div>
</ion-content>
