#container-main {
  max-height: 300%;
  max-width: 380px;
  margin: auto;
  padding: auto;
  border-style: hidden;
}

#img-lock{
  display: flex;
  margin: auto;
}
ion-button,.btn{
  border-radius: 50%;
  border-bottom: rgb(214, 133, 41);
  background-color: rgb(209, 204, 183);
}