#container-main {
  align-items: center;
  max-height: 300%;
  max-width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container-main strong {
  font-size: 20px;
  line-height: 26px;
}

#container-main p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container-main a {
  text-decoration: none;
  
}
#img-lock{
  align-items: center;
}
/***********************************************************/
/************************************************************/
#container-main {
  align-items: center;
  max-height: 300%;
  max-width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container-main strong {
  font-size: 20px;
  line-height: 26px;
}

#container-main p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container-main a {
  text-decoration: none;
  
}
#img-lock{
  align-items: center;
}